/* font-family: "Montserrat - Light"; */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

/* font-family: "Montserrat - Regular"; */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* font-family: "Montserrat - Medium"; */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

/* font-family: "Montserrat - Bold"; */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

/* font-family: "MyriadPro - Regular"; */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* font-family: "Velocity"; */
@font-face {
    font-family: "Velocity";
    src: url("../fonts/Velocity/Velocity.eot");
    src: url("../fonts/Velocity/Velocity.eot?#iefix") format("embedded-opentype"), url("../fonts/Velocity/Velocity.woff") format("woff"), url("../fonts/Velocity/Velocity.ttf") format("truetype"), url("../fonts/Velocity/Velocity.svg#Velocity") format("svg");
    font-weight: normal;
    font-style: normal;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

header {
    color: #10ac84;
    font-family: Velocity;
    font-size: 48px;
    text-align: center;
    padding-top: 25px;
}

.hero {
    padding-top: 115px;
    padding-bottom: 155px;
}

.container {
    display: flex;
    align-items: center;
    width: 1070px;
    margin: 0 auto;
}

.hero-title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-description {
    margin-top: 50px;
    font-family: MyriadPro, sans-serif;
    font-size: 20px;
}

.hero-buttons {
    margin-top: 60px;
}

.hero-button {
    padding: 20px 28px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
}

.hero-button-green {
    background-color: #10ac84;
}

.hero-button-gray {
    background-color: #6a7079;
    margin-left: 22px;
}

.section-title {
    margin: 0;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    font-size: 42px;
}

.section-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04b386;
}

.problems-section {
    background-color: #f4f4f5;
    padding-top: 65px;
    padding-bottom: 155px;
}

.problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.problems-top {
    display: flex;
}

.problems-bottom {
    display: flex;
    margin-top: 100px;
}

.problem + .problem {
    margin-left: 165px;
}

.problem-icon {
    width: 60px;
    height: 60px;
    background-size: 60px;
}

.problem-icon-scalability {
    background-image: url("../images/problems/pdf-file.svg");
}

.problem-icon-catalog {
    background-image: url("../images/problems/books.svg");
}

.problem-icon-old-books {
    background-image: url("../images/problems/time-left.svg");
}

.problem-icon-money {
    background-image: url("../images/problems/money-bag.svg");
}

.problem-title {
    margin-top: 46px;
    margin-bottom: 0;
    font-size: 24px;
    color: #26272d;
}

.problem-description {
    width: 490px;
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 18px;
    color: #8c8f94;
}